@using SaveMyWord.Extensions
@using SaveMyWord.Models.Filters
@model IEnumerable<SaveMyWord.Models.Note>

@{
    ViewBag.Title = "Index";
}

<h2>Заметки</h2>

<div>
    @Html.Partial("_NoteFilter", new NoteFilter())
</div>

<p>
    @Html.ActionLink("Новая заметка", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.SortLink("Название заметки", "NoteName", "Index", "Note", null)
        </th>
        <th>
            @Html.SortLink("Автор", "CreationAuthor", "Index", "Note", null)
        </th>
        <th>
            @Html.SortLink("Дата создания", "CreationDate", "Index", "Note", null)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreationAuthor)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
        </tr>
    }

</table>


